.weather{
  text-align: center;
  margin-top: 50px;
  color: aliceblue;
}

.weather-input{
   text-align: center;
  padding: 5px;
  outline: none;
  border: 3px solid rgb(3, 85, 85);
  margin-bottom: 15px;
  border-radius: 15px;
}
.weather-input:focus{
  border: 3px solid rgb(109, 159, 235);

}

.weather-data{
  text-align: center;
  border: 1px solid rgb(168, 167, 233);
  width: 250px;
  height: 400px;
  box-shadow: 10px 10px 5px 0px;
  border-radius:2em;
  box-sizing: border-box;
  background-color: rgb(97, 97, 238);
  margin: auto;
}
body{
  background-image: url(./assets/weather.gif);
  background-position: -120px 150px; 
}

.weather-data>h3{
  margin-top: 0px;
}
.weather-data>img{
  margin-top: 80px;
  width: 80px;
}
.weather-data>h4{
  text-transform: capitalize;
}